<div class="container">
  <h1>Editar noticia</h1>

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">

    <%= render 'form', post: @post %>

    <%= link_to 'Ver noticia', @post %> |
    <a href="javascript:history.back()">Volver</a>

  </div>
</div>
