<div class="container">

  <h1>Nueva noticia</h1>

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">

    <%= render 'form', post: @post %>

    <%= link_to 'Back', posts_path %>

  </div>
</div>
